h1 {
    color: #30303C;
    font-family: Corben;
    font-size: 48.83px;
  }
h2 {
    color: #30303C;
    font-family: Corben;
    font-weight: normal;
    font-size: 39.06px;
}
p{
  color: #30303C;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
}